:root {
	--color__100: rgba(30, 31, 54, 1);
	--color__200: rgba(75, 76, 95, 1);
	--color__300: rgba(120, 120, 135, 1);
	--color__400: rgba(244, 123, 86, 1);
	--color__500: rgba(232, 232, 234, 1);

	--black: var(--color__100);
	--question--closed: var(--color__200);
	--question--hover: var(--color__400);
	--question--open: var(--color__100);
	--question__line: var(--color__500);
	--answer: var(--color__300);

	font-size: 8px;
	color: var(--black);
}

html {
	font-family: 'Kumbh Sans', sans-serif;
}

summary {
	font-size: 1.75rem;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	font-weight: 500;
	font-variation-settings: 'wght' 500;
	transition: all 0.2s ease-in;
	color: var(--question--closed);
}

summary::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.2;
	content: '';
}

details {
	position: relative;
	border-bottom: 1px var(--question__line) solid;
	font-size: 1.5rem;
	color: transparent;

	padding: 2rem 0;
	line-height: 2.25rem;
}

details[open] {
	color: var(--answer);
	transition: color 0.3s ease-out;
	transition-delay: 0.2s;
}

summary:hover,
summary:focus-visible {
	color: var(--question--hover);
	font-weight: 700;
	font-variation-settings: 'wght' 700;
	transition: all 0.3s ease-out;
}

details[open] summary {
	font-weight: 700;
	font-variation-settings: 'wght' 700;
	color: var(--question--open);
	margin-bottom: 1.5rem;
}

details summary:after {
	content: url('./images/icon-arrow-down.svg');
	transition: all 0.5s ease;
}

details[open] summary:after {
	content: url('./images/icon-arrow-down.svg');
	transform: scaleY(-1);
	transition: all 0.5s ease;
}

details summary::-webkit-details-marker,
details summary::marker {
	display: none;
	content: '';
}

main {
	max-width: 375px;
}
